*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
  background: #f5f5f5;
  width:100vw;
}


.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100%, auto);
  /*grid-auto-flow: dense;*/
}
.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}

.aside {
  height: 100vh;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}
.aside > .logo {
  height: 18vh;
  color: #eceff1;
  background: #263238;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  line-height: 18vh;
}
.aside > .menu {
  height: calc(100vh - 18vh);
  width: 100%;
  background-color: #37474f !important;
}
.menu > .stats {
  margin: auto;
  width: 85%;
  background-color: #4db6ac !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.stats-title {
  width: 100%;
  font-size: 1.32em;
  text-align: center;
}


.content {
color: #757575 !important;
}

.header {
  height: 6vh;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 6vh;
  padding-left: 1em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 1em;
}

.media {
  margin-left: 1em;
  background-color: #fff;
  width: calc(100% - 1.5em);
  height: calc((100vh - 12vh) / 2);
  margin-bottom: 1em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.media > * {
  margin: auto;
  width: 100%;
  height: 100%;
}

.diagnostics {
  margin-left: 1em;
  padding-top: 1em;
  padding-left: 1em;
  width: calc(100% - 1.5em);
  height: calc(100vh - 10vh);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

  background-color: black;

  color: #fff;
  font: 1rem Inconsolata, monospace;
   text-shadow: 0 0 1px #C8C8C8;
  overflow-y: scroll;
}
.diagnostics>span {
  line-height: 1.3em;
  display: block;
}



.btn {
  display: flow-root;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  font-size: 1.32em;
  text-align: center;
  padding: .75em 1em;
  margin-bottom: .5em;
  opacity: .87;
}
.btn.red:hover {
  background-color: #f44336;
  color: #fff;
}
.btn.green:hover {
  background-color: #4caf50;
  color: #fff;
}
.btn:hover {
  background-color: #00BCD4;
  color: #37474F;
}